{% extends "base.html" %}

{% block title %}blog article{% endblock %}

{% block content %}
<div class="row text-center verticle-middle-sm">
    <h1>{{ article.title }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center"><span>{{   article.author.username    }}</span><span
style="margin-left:20px">{{ publish }}</span></p>
<div>{{ article.body }}</div>
</div>
    <div class="col-xs-6 col-md-4">
    <h2>主页</h2>
    <p>要转行的材料小白:www.m2it.com</p>
    <img width="300px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539540158465&di=782ca9365c7d07bcc304c3ef9cff3e56&imgtype=0&src=http%3A%2F%2Fimg2.ph.126.net%2F19wlquAHelW1YtaQz3YP5w%3D%3D%2F6619415141467524872.jpg">
    </div>
</div>
{% endblock %}
